.events {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15%;
}

.headline-events {
  top: 2%;
  left: 3%;

  & span {
    background: $lightred;
    padding: 3% 4%;
  }
}

.event__articles {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $med-break) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .article {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $med-break) {
      width: 50%;
    }
    
    .event__article {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 80%;
      height: 200px;
      position: relative;
      margin: 10%;
      margin-top: 30px;
      padding: 20% 20px;
      border: 2px solid $darkred;
    }

    .event__article1 {
      background-image: url(../img/stadiumwithfalcon.jpg);
    }

    .event__article2 {
      background-image: url(../img/KennyChesney.jpg);
    }

    .event__article3 {
      background-image: url(../img/stadiumfront.jpg);
    }

    .event__article4 {
      background-image: url(../img/GraveDigger.jpg);
    }

    .golden-div {
      width: 82%;
      position: relative;
      z-index: 7;
      background: $gold;
      color: $gray;
      margin-top: -12%;
      margin-left: 9%;
      padding: 2% 3%;

      & h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      & p {
        font-size: .8rem;
      }

      // @media screen and (min-width: $med-break) {
      //   width: 32%;
      // }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: $gold;
        transform: skewY(2deg);
        transform-origin: 100%;
        z-index: -1;
      }
    }
  }
}