.explore {
	display: flex;
	position: relative;
	
	video {
		width: 100%;
		height: 56.5%;
		position: relative;
		margin-bottom: 0 - $xsBreakMobile;

		@include breakpoint(600px) {
			height: 56.25vw;
		}
	}

	.large-gold-bar {
		@include largeGoldBar;
		position: relative;
		z-index: 2;
	}

	.section-footer {
		padding: 0;
	}

}