

header {
	position: relative;
	background: $lightblue;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 2% 3%;
	z-index: 10;

	&:after {
		content: '';
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		background: $lightblue;
		bottom: 0;
		transform: skewY(-2deg);
		transform-origin: 100%;
		border-bottom: 3px solid $darkred;
	}
	
	.header__logo {
		background-image: url(../../assets/img/mbs-logo.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 50px;
		z-index: 10;

		@media screen and (min-width: 900px) {
			width: 150px;
		}

	}

	.header__nav, .header__subnav {
		display: none;
	}

	.hamburger__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 10;

		.hamburger-line {
			background: $lightred;
			width: 45px;
			height: 7px;
			margin: 3px;
		}

		& p {
			color: $white;
			text-transform: uppercase;
			font-size: .8rem;
			letter-spacing: 3px;
			margin-top: 5px;
		}
	}

	@media screen and (min-width: 900px) {
		flex-direction: row;
		//padding: 1% 2%;
	}
}



@media screen and (min-width: 900px) {
	header .header__nav {
		display: flex;

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 120%;
			z-index: 11;

			li {
				//display: flex;
				margin-left: 15px;

				@media screen and (min-width: $lg-break) {
					margin-left: 40px;
				}
				
				a {
					width: 100%;
					text-decoration: none;
					color: #fff;
					font-size: 1rem;
					font-weight: 100;
					font-family: 'Korolev Light';
					text-transform: uppercase;
				}
			}
		}
	}
}

@media screen and (min-width: 900px) {
	header .hamburger__menu {
		display: none;
	}
}