
.hero {
	background: $darkblue;

	.hero__image {
		background-image: url(../img/slideshow/falcons.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 60vh;
		position: relative;
		z-index: 5;
		padding: 20% 20px;	

		@media screen and (min-width: 900px) {
			height: 80vh;
		}
	}

	.hero__text {
		padding: 5%;
		color: $white;
		position: relative;
		z-index:6;
		border-bottom: 3px solid $darkred;

		@media screen and (min-width: $med-break) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media screen and (min-width: 900px) {
			padding: 2%;
		}

		&:before {
			content: '';
			display: block;
			height: 50%;
			left: 0;
			position: absolute;
			right: 0;
			background: $darkblue;
			top: 0;
			transform: skewY(-2deg);
		    transform-origin: 0 100%;
			border-top: 3px solid $darkred;

			@media screen and (min-width: 900px) {
				transform: skewY(2deg);
				transform-origin: 100%;
			}
		}
		

		.hero__text-headlines {

			position: relative;
			width: 95%;
			display: flex;
			flex-direction: column;
			margin-bottom: 3%;
			margin-left: 5%;
			z-index: 7;

			@media screen and (min-width: $med-break) {
				width: 45%;
			}


				h1 {
					font-size: 1.7rem;
					margin-bottom: 3%;
					font-weight: bold;
				}

				p {
					font-size: 1rem;
					font-weight: 100;
					color: $gray;
					margin-bottom: 3%;
					text-align: left;
				}
		}


		.hero__text-options {
			display: flex;
			justify-content: space-around;
			z-index: 10;

			@media screen and (min-width: $med-break) {
				width: 45%;
			}

			h4 {
				font-size: 1.25rem;
				text-transform: uppercase;
				padding-bottom: 5px;
				border-bottom: 5px solid $lightred;
			}	
		}
	}
}













