.section-list {
	&.section-list--news {
		align-items: center;

		li {
			figure {
				h2 {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: $mediumBreakMobile;
					text-align: center;
					height: 100%;
					width: 100%;
					background-color: rgba(0, 0, 0, 0.1);
					color: $grey;
					text-transform: capitalize;
					font-size: $xlFontMobile;
					text-shadow: 0 0 5px black;
					line-height: 2rem;
					font-weight: 500;

					@include breakpoint(350px) {
						font-size: $xxlFontMobile;
					}
				}

				@include mediumContainer;
				@include bgImg("stadiumfront.jpg");
				background-size: cover;	
			}	
		}
	}
}