.section-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;

	.section-list__page {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		border-bottom: 0;
		position: relative;

		.medium-gold-bar {
			position: relative;
			display: flex;
			z-index: 2;
			@include mediumGoldBar;
		}

		figure {
			border: $thinBorder $darkRed;
			border-bottom: 0;
		}

		.large-gold-bar {
			@include largeGoldBar;
		}
	}
}