.teams {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: $xxlBreakMobile;
	position: relative;
	color: $darkBlue;

	.teams-section {
		background-color: $grey;
		width: 100%;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		min-height: 100vw;
		background-size: auto 95%;
		background-repeat: no-repeat;
		justify-content: flex-start;
		padding: 0 $mediumBreakMobile;

		@include breakpoint(600px) {
			background-size: auto 61vw;
		}


		h2 {
			display: flex;
			text-transform: uppercase;
			color: $grey;
			padding: $smallBreakMobile;
			padding-top: $mediumBreakMobile;
			width: 100%;
			margin-top: (0 - $xlBreakMobile);
			position: absolute;

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0.9rem 0.6rem 0.5rem 0.65rem;
				min-width: 8.5rem;
				@include buttonShadow;
				color: $darkBlue;
				letter-spacing: 0.1rem;
				font-size: $smallFontMobile;

				.teams-header {
					font-size: $xlFontMobile;
					font-weight: 800;
					color: $grey;
					letter-spacing: 0.2rem;
					margin-top: $xsBreakMobile;
				}

				@include breakpoint(450px) {
					font-size: $mediumFontMobile;
					min-width: 9.7rem;

					.teams-header {
						font-size: $xxlFontMobile;
					}
				}
			}
		}

		.teams-text {
			width: 52%;
			font-size: $smallFontMobile;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: $xlBreakMobile;

			li {
				margin-bottom: $largeBreakMobile;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				p {
					line-height: $mediumFontMobile + 0.5rem;
				}


				button {
					text-transform: uppercase;
					color: $grey;
					padding: 0.7rem;
					padding-top: 0.9rem;
					padding-bottom: 0.5rem;
					font-size: $largeFontMobile;
					border-radius: 5px;
					@include buttonShadow;
				}

				div {
					display: flex;
					flex-direction: column;
					margin-top: $xsBreakMobile * 2;

					p {
						font-size: $largeFontMobile;
						font-style: italic;
						font-weight: 800;
						padding: 0 0.1rem;
					}
				}

				h3 {
					display: flex;
					flex-direction: column;

					span, date {
						text-transform: uppercase;
					}

					span {	
						font-size: $smallFontMobile;
						margin-bottom: $xsBreakMobile;

						&:first-child {
							padding: 0.1rem;
							padding-top: 0.25rem;
							padding-bottom: 0;
							margin-bottom: $smallBreakMobile;
							height: $mediumFontMobile;
						}

						&:nth-child(2) {
							font-size: $xxxlFontMobile;
							font-weight: 800;
							margin-bottom: 0;
						}
					}

					date {
						font-size: $xsFontMobile;
					}
				}

				&:last-child {
					button {
						background-color: $darkBlue;
						color: $grey;
						font-size: $mediumFontMobile;
						margin-top: $mediumBreakMobile;
						@include buttonShadow;
					}
				}
			}

			@include breakpoint(450px) {
				font-size: $mediumFontMobile;

				li {
					button {
						font-size: $xlFontMobile;
					}

					div {
						margin-top: $mediumBreakMobile;

						p {
							font-size: $xlFontMobile;
						}
					}

					&:last-child {
						button {
							font-size: $largeFontMobile;
						}
					}
				}
			}
			
			// @include teamsTextBreakpoints;
		}

		&:before {
			background-color: $grey;
		}

		&.teams-section__falcons {
			margin-bottom: $xxlBreakMobile;
			@include bgImg('hero_img_1.png');
			background-position: 95% center;
			flex-direction: row;

			h2 {
				flex-direction: row;

				div {
					background-color: $lightRed;	
				}
			}

			.teams-text {

				li {
					align-items: flex-start;

					div {
						align-items: flex-start;

						button {
							background-color: $lightRed;
						}
					}

					h3 {
						align-items: flex-start;

						span {
							&:first-child {
								border-left: $thinBorder $lightRed;
								padding-left: $mediumBreakMobile;
							}

							&:nth-child(2) {
								color: $lightRed;
							}
						}

						date {
							color: $lightRed;
						}
					}
				}
			}

			&:before {
				@include skew(-3deg);
				transform-origin: 0;
			}
		}

		&.teams-section__united {
			@include bgImg('hero_img_2.png');
			background-position: 5% center;
			flex-direction: row-reverse;

			h2 {
				flex-direction: row-reverse;

				div {
					background-color: $gold;
					align-items: flex-end;	
				}
			}

			.teams-text {

				li {
					align-items: flex-end;
					text-align: right;

					div {
						align-items: flex-end;

						button {
							background-color: $gold;
						}

					}

					h3 {
						span {
							&:first-child {
								border-right: $thinBorder $gold;
								padding-right: $mediumBreakMobile;
							}

							&:nth-child(2) {
								color: $gold;
							}
						}

						date {
							color: $gold;
						}
					}
				}
			}

			&:before {
				@include skew(3deg);
			}

		}

		@include breakpoint(450px) {
			min-height: 120vw;
			padding: 0 ($mediumFontMobile + $smallBreakMobile);
		}
	}

	@include breakpoint(600px) {
		flex-direction: row-reverse;
		@include bgImg('hourglass.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 700px;
		justify-content: space-between;

		.teams-section {
			width: 50%;
			min-height: 0;
			height: 100%;
			background-color: transparent;
			padding: 0 $mediumBreakMobile;

			&:before {
				display: none;
			}

			.teams-text {
				justify-content: center;
				height: 100%;
				padding: 0;
				padding-bottom: $xlBreakMobile;

				li {
					margin-bottom: 150px;

					.main-copy {
						min-height: 12rem;
						min-width: 12rem;
						max-width: 16.9rem;
						// text-align: justify;
					}
				}
			}

			&.teams-section__falcons {
				background-size: auto 30rem;
				background-position: 118% 80%;
			}

			&.teams-section__united {
				background-size: auto 28.44rem;
				background-position: -9% 80%;
			}

		}

		@include breakpoint(760px) {
			height: 800px;
		}
	}
}
