.united {
	margin-top: 200px;
	height: 525px;
	background: $gray;
	display: flex;
	flex-direction: row-reverse;
	position: relative;

	@media screen and (min-width: $med-break) {
		display: none;
	}

	&:before {
	  content: '';
	  display: block;
	  width: 100%;
	  height: 40%;
	  left: 0;
	  position: absolute;
	  right: 0;
	  background: $gray;
	  top: 0;
	  transform: skewY(2deg) translateY(-40%);
	  transform-origin: 100%;
	  z-index:6;
	}

	.united__text {
		width: 45%;
	    //margin-top: 15%;
	    margin-right: 5%;
	    z-index: 10;
	    text-align: right;

	    & p {
		    line-height: 1.5;
		    font-weight: 100;
		    margin-bottom: 2.5vh;
	    }

	    .united__learn-button {
	    	background: $gold;
	    	color: $white;
	    	font-weight: 100;
	    	border: none;
	    	border-radius: 0;
	    	text-transform: uppercase;
	    	margin-bottom: 5vh;
	    	padding: 5%;

	    	@media screen and (min-width: $med-break) {
		    	padding: 3% 4%;
	    	}
	    }

	    .united__homegame {
	    	font-size: .8rem;
	    	color: #000;
	    	border-right: 2px solid $gold;
	    	padding-right: 20px;
	    	text-transform: uppercase;
	    	margin-bottom: 1vh;
	    }

	    .united__nextgame {
			font-size: 2rem;
			color: $gold;
			font-weight: bold;
			margin-bottom: 2vh;
			text-transform: uppercase;
	    }

	    .united__gamedate {
	    	color: $gold;
	    	font-size: .8rem;
	    	font-weight: 100;
	    	margin-bottom: 2.5vh;
	    }

	    .united__gameday-button {
	    	background: #000;
	    	color: $white;
	    	padding: 5%;
	    	//border-bottom: 3px solid transparent;
	    	border: none;
	    	border-radius: 0;
	    	text-transform: uppercase;

	    	@media screen and (min-width: $med-break) {
		    	padding: 3% 4%;
	    	}

	    	// &:hover{
	    	// 	border-bottom: 5px solid $lightred;
	    	// }
	    }
	}

	.hectorvillalba {
		background-image: url(../img/united-player-3.png);
		background-repeat: no-repeat;
		width: 70%;
		height: 500px;
		background-size: contain;
		background-position: left;
	    top: 0;
	    left: -10%;
		z-index: 10;
		position: absolute;

		@media screen and (min-width: 500px) {
		  left: -5%;
		}

		@media screen and (min-width: $med-break) {
		  left: 0%;
		}
	}
}

.headline-united {
	display: flex;
	flex-direction: column;
	right: 5%;
	margin-top: -130px;


	& span {
		background: $gold;
		padding: 4%;
		text-align: right;
	}

	.united-atlanta-span {
		color: $darkblue;
	}

	.united-span {
		font-size: 2.5rem;
		color: $gray
	}
}






























// .united-desktop{
// 	// position: relative;
// 	// z-index: 11;
// 	// margin-top: 200px;
// 	// width: 50%;
// 	// display: flex;
// 	// flex-direction: row-reverse;
// 	// top: 0;
// 	// left: 0;

// 	position: relative;
// 	z-index: 11;
// 	margin-top: 200px;
// 	display: flex;
// 	flex-direction: row-reverse;
// 	width: 50%;

// 	.united__text {
// 		width: 45%;
// 	    margin-top: 200px;
// 	    margin-right: 5%;
// 	    z-index: 10;
// 	    text-align: right;

// 	    & p {
// 		    line-height: 1.5;
// 		    font-weight: 100;
// 		    margin-bottom: 2.5vh;
// 	    }

// 	    .united__learn-button {
// 	    	background: $gold;
// 	    	color: $white;
// 	    	font-weight: 100;
// 	    	border: none;
// 	    	border-radius: 0;
// 	    	text-transform: uppercase;
// 	    	margin-bottom: 5vh;
// 	    	padding: 5%;

// 	    	@media screen and (min-width: $med-break) {
// 		    	padding: 3% 4%;
// 	    	}
// 	    }

// 	    .united__homegame {
// 	    	font-size: .8rem;
// 	    	color: #000;
// 	    	border-right: 2px solid $gold;
// 	    	padding-right: 20px;
// 	    	text-transform: uppercase;
// 	    	margin-bottom: 1vh;
// 	    }

// 	    .united__nextgame {
// 			font-size: 2rem;
// 			color: $gold;
// 			font-weight: bold;
// 			margin-bottom: 2vh;
// 			text-transform: uppercase;
// 	    }

// 	    .united__gamedate {
// 	    	color: $gold;
// 	    	font-size: .8rem;
// 	    	font-weight: 100;
// 	    	margin-bottom: 2.5vh;
// 	    }

// 	    .united__gameday-button {
// 	    	background: #000;
// 	    	color: $white;
// 	    	padding: 5%;
// 	    	//border-bottom: 3px solid transparent;
// 	    	border: none;
// 	    	border-radius: 0;
// 	    	text-transform: uppercase;

// 	    	@media screen and (min-width: $med-break) {
// 		    	padding: 3% 4%;
// 	    	}

// 	    	// &:hover{
// 	    	// 	border-bottom: 5px solid $lightred;
// 	    	// }
// 	    }
// 	}

// 	.hectorvillalba {
// 		background-image: url(../img/united-player-3.png);
// 		background-repeat: no-repeat;
// 		width: 100%;
// 		height: 100%;
// 		background-size: contain;
// 		background-position: left;
// 	    top: 0;
// 	    left: -10%;
// 		z-index: 10;
// 		position: absolute;

// 		@media screen and (min-width: 500px) {
// 		  left: -5%;
// 		}

// 		@media screen and (min-width: $med-break) {
// 		  left: 0%;
// 		}
// 	}
// }

// .headline-united {
// 	display: flex;
// 	flex-direction: column;
// 	right: 5%;
// 	margin-top: -130px;


// 	& span {
// 		background: $gold;
// 		padding: 4%;
// 		text-align: right;
// 	}

// 	.united-atlanta-span {
// 		color: $darkblue;
// 	}

// 	.united-span {
// 		font-size: 2.5rem;
// 		color: $gray
// 	}
// }
