$white: #FEFEFE;
$gold: #817246;
$gray: #D5D5D5;

$darkblue: #001622;
$lightblue: #003950;

$darkred: #580614;
$lightred: #A61931;

//$red: #A51C33;
//$blue: #011622;


$sm-break: 630px;
$med-break: 900px;
$lg-break: 1000px;

@font-face {
	font-family: 'Korolev Light';
	font-style: normal;
	font-weight: normal;
	src: local('Korolev Light'), url('../../assets/font/KorolevLight.woff') format('woff');
}