@import "variables";

@import "header";
@import "hero";
@import "news";
@import "explore";
@import "falcons";
@import "united";
@import "teams";
@import "events";
@import "footer";

* {
	box-sizing: border-box;
}

body {
	background: $lightblue;
	font-family: 'Korolev Light';
}

.inside {

	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;

	& h2 {
		font-size: 2em;
		margin-bottom: 1rem;
	}

	& span {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	video {
		width: 100%;
	}
}

.bigM {
	background-image: url(../../assets/img/BigM.png);
	background-repeat: no-repeat;
	width: 200%;
	padding-bottom: 500px;
	height: 0;
	position: absolute;
	margin-top: 5%;
	left: -60%;
}

.halfM {
	background-image: url(../../assets/img/m_half_blue.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: -70%;
	margin-top: 7%;
}


.headline {
  font-size: 1.5625rem;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  transform: rotate(-5deg);
  z-index: 5;
}

.teams-headline {
	font-size: 1.4375rem;
	color: $darkred;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	z-index: 10;
	font-weight: bold;
}

.explore-video-button {
	position: absolute;
	right: 5%;
	bottom: 5%;
	z-index: 6;
	transform: rotate(0deg);
	font-size: 1.3rem;

	& span {
	  background: $lightred;
	  padding: 3%;
	}

	@media screen and (min-width: $med-break) {
	  right: 2%;
	}
}


.background__styles {
	width: 100%;
	height: 100vh;
	position: relative;

	.letterM1 {
		position: absolute;
		background-image: url(../../assets/img/m_whole_black.svg);
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		border-top: 10px solid $darkblue;
		border-bottom: 10px solid $darkblue;
	}
}


























#background {
	position: absolute;
	top: 800px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0; // or lower if there is anything set to z-index 1, or change those to a higher index, etc.
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	figure {
		width: 100vw;
		border-width: 5.333333333vh;
		border-style: solid;
		background-size: auto 100%;

		.dark-blue {
			background-color: $darkblue;
			border-color: $darkblue;
			&.vertical {
				background-position: center right -7.530120482vw;
				background-image: url(../../assets/img/m_whole_black.svg);
			}

			&.horizontal {
				background-image: url(../../assets/img/m_half_black.svg);
			}
		}

		.light-blue {
			background-color: $lightblue;
			border-color: $lightblue;

			&.vertical {
				background-position: center left -7.530120482vw;
				background-image: url(../../assets/img/m_whole_blue.svg);
			}

			&.horizontal {
				background-image: url(../../assets/img/m_half_blue.svg);
			}
		}

		.vertical {
			height: 89.90963855vh;
		}

		.horizontal {
			height: 48.45331325vh;
		}
	}
}
