@font-face {
  font-family: 'Korolev Light';
  font-style: normal;
  font-weight: normal;
  src: local("Korolev Light"), url("../../assets/font/KorolevLight.woff") format("woff"); }

header {
  position: relative;
  background: #003950;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  z-index: 10; }
  header:after {
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    background: #003950;
    bottom: 0;
    transform: skewY(-2deg);
    transform-origin: 100%;
    border-bottom: 3px solid #580614; }
  header .header__logo {
    background-image: url(../../assets/img/mbs-logo.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 50px;
    z-index: 10; }
    @media screen and (min-width: 900px) {
      header .header__logo {
        width: 150px; } }
  header .header__nav, header .header__subnav {
    display: none; }
  header .hamburger__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; }
    header .hamburger__menu .hamburger-line {
      background: #A61931;
      width: 45px;
      height: 7px;
      margin: 3px; }
    header .hamburger__menu p {
      color: #FEFEFE;
      text-transform: uppercase;
      font-size: .8rem;
      letter-spacing: 3px;
      margin-top: 5px; }
  @media screen and (min-width: 900px) {
    header {
      flex-direction: row; } }

@media screen and (min-width: 900px) {
  header .header__nav {
    display: flex; }
    header .header__nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120%;
      z-index: 11; }
      header .header__nav ul li {
        margin-left: 15px; } }
      @media screen and (min-width: 900px) and (min-width: 1000px) {
        header .header__nav ul li {
          margin-left: 40px; } }

@media screen and (min-width: 900px) {
        header .header__nav ul li a {
          width: 100%;
          text-decoration: none;
          color: #fff;
          font-size: 1rem;
          font-weight: 100;
          font-family: 'Korolev Light';
          text-transform: uppercase; } }

@media screen and (min-width: 900px) {
  header .hamburger__menu {
    display: none; } }

.hero {
  background: #001622; }
  .hero .hero__image {
    background-image: url(../img/slideshow/falcons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 5;
    padding: 20% 20px; }
    @media screen and (min-width: 900px) {
      .hero .hero__image {
        height: 80vh; } }
  .hero .hero__text {
    padding: 5%;
    color: #FEFEFE;
    position: relative;
    z-index: 6;
    border-bottom: 3px solid #580614; }
    @media screen and (min-width: 900px) {
      .hero .hero__text {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
    @media screen and (min-width: 900px) {
      .hero .hero__text {
        padding: 2%; } }
    .hero .hero__text:before {
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      background: #001622;
      top: 0;
      transform: skewY(-2deg);
      transform-origin: 0 100%;
      border-top: 3px solid #580614; }
      @media screen and (min-width: 900px) {
        .hero .hero__text:before {
          transform: skewY(2deg);
          transform-origin: 100%; } }
    .hero .hero__text .hero__text-headlines {
      position: relative;
      width: 95%;
      display: flex;
      flex-direction: column;
      margin-bottom: 3%;
      margin-left: 5%;
      z-index: 7; }
      @media screen and (min-width: 900px) {
        .hero .hero__text .hero__text-headlines {
          width: 45%; } }
      .hero .hero__text .hero__text-headlines h1 {
        font-size: 1.7rem;
        margin-bottom: 3%;
        font-weight: bold; }
      .hero .hero__text .hero__text-headlines p {
        font-size: 1rem;
        font-weight: 100;
        color: #D5D5D5;
        margin-bottom: 3%;
        text-align: left; }
    .hero .hero__text .hero__text-options {
      display: flex;
      justify-content: space-around;
      z-index: 10; }
      @media screen and (min-width: 900px) {
        .hero .hero__text .hero__text-options {
          width: 45%; } }
      .hero .hero__text .hero__text-options h4 {
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 5px solid #A61931; }

.news {
  display: flex;
  flex-direction: column;
  position: relative; }

.headline-news {
  top: 17%;
  left: 3%; }
  .headline-news span {
    background: #A61931;
    padding: 12%; }

.article {
  display: flex;
  flex-direction: column; }
  .article .news__article {
    background-image: url(../img/slideshow/falcons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 265px;
    position: relative;
    margin: 10%;
    margin-top: 70px;
    padding: 20% 20px;
    border: 2px solid #580614; }
    @media screen and (min-width: 900px) {
      .article .news__article {
        width: 30%; } }
  .article .golden-div {
    width: 82%;
    position: relative;
    z-index: 7;
    background: #817246;
    color: #D5D5D5;
    margin-top: -12%;
    margin-left: 9%;
    padding: 2% 3%; }
    .article .golden-div h2 {
      font-size: 1.5rem;
      margin-bottom: 10px; }
    .article .golden-div p {
      font-size: .8rem; }
    @media screen and (min-width: 900px) {
      .article .golden-div {
        width: 32%; } }
    .article .golden-div:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: #817246;
      transform: skewY(2deg);
      transform-origin: 100%;
      z-index: -1; }

.explore {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10%; }

.headline-explore {
  left: 3%; }
  .headline-explore span {
    background: #A61931;
    padding: 2% 3%; }

.explore__video {
  width: 100%;
  height: 50%; }

.golden-div-2 {
  width: 100%;
  height: 30px;
  position: relative;
  background: #817246; }
  @media screen and (min-width: 900px) {
    .golden-div-2 {
      height: 50px; } }
  .golden-div-2:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #817246;
    transform: skewY(-2deg);
    transform-origin: 0 100%;
    z-index: 6; }

.falcons {
  margin-top: 200px;
  height: 525px;
  background: #D5D5D5;
  display: flex;
  position: relative; }
  @media screen and (min-width: 900px) {
    .falcons {
      display: none; } }
  .falcons:before {
    content: '';
    display: block;
    width: 100%;
    height: 40%;
    left: 0;
    position: absolute;
    right: 0;
    background: #D5D5D5;
    top: 0;
    transform: skewY(-2deg) translateY(-40%);
    transform-origin: 100%;
    z-index: 6; }
  .falcons .falcons__text {
    width: 45%;
    margin-left: 5%;
    z-index: 10; }
    .falcons .falcons__text p {
      line-height: 1.5;
      font-weight: 100;
      margin-bottom: 2.5vh; }
    .falcons .falcons__text .falcons__learn-button {
      background: #A61931;
      color: #FEFEFE;
      font-weight: 100;
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      margin-bottom: 5vh;
      padding: 5%; }
      @media screen and (min-width: 900px) {
        .falcons .falcons__text .falcons__learn-button {
          padding: 3% 4%; } }
    .falcons .falcons__text .falcons__homegame {
      font-size: .8rem;
      color: #000;
      border-left: 2px solid #A61931;
      padding-left: 20px;
      text-transform: uppercase;
      margin-bottom: 1vh; }
    .falcons .falcons__text .falcons__nextgame {
      font-size: 2rem;
      color: #A61931;
      font-weight: bold;
      margin-bottom: 2vh;
      text-transform: uppercase; }
    .falcons .falcons__text .falcons__gamedate {
      color: #A61931;
      font-size: .8rem;
      font-weight: 100;
      margin-bottom: 2.5vh; }
    .falcons .falcons__text .falcons__gameday-button {
      background: #000;
      color: #FEFEFE;
      padding: 5%;
      border: none;
      border-radius: 0;
      text-transform: uppercase; }
      @media screen and (min-width: 900px) {
        .falcons .falcons__text .falcons__gameday-button {
          padding: 3% 4%; } }
  .falcons .mattryan {
    background-image: url(../img/falcons-player-6.png);
    background-repeat: no-repeat;
    width: 70%;
    height: 500px;
    background-size: contain;
    background-position: right;
    top: 0;
    right: -10%;
    z-index: 10;
    position: absolute; }
    @media screen and (min-width: 500px) {
      .falcons .mattryan {
        right: -5%; } }
    @media screen and (min-width: 900px) {
      .falcons .mattryan {
        right: 0%; } }

.headline-falcons {
  display: flex;
  flex-direction: column;
  left: 5%;
  margin-top: -130px; }
  .headline-falcons span {
    background: #A61931;
    padding: 4%; }
  .headline-falcons .falcons-span {
    font-size: 2.5rem;
    color: #D5D5D5; }

.united {
  margin-top: 200px;
  height: 525px;
  background: #D5D5D5;
  display: flex;
  flex-direction: row-reverse;
  position: relative; }
  @media screen and (min-width: 900px) {
    .united {
      display: none; } }
  .united:before {
    content: '';
    display: block;
    width: 100%;
    height: 40%;
    left: 0;
    position: absolute;
    right: 0;
    background: #D5D5D5;
    top: 0;
    transform: skewY(2deg) translateY(-40%);
    transform-origin: 100%;
    z-index: 6; }
  .united .united__text {
    width: 45%;
    margin-right: 5%;
    z-index: 10;
    text-align: right; }
    .united .united__text p {
      line-height: 1.5;
      font-weight: 100;
      margin-bottom: 2.5vh; }
    .united .united__text .united__learn-button {
      background: #817246;
      color: #FEFEFE;
      font-weight: 100;
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      margin-bottom: 5vh;
      padding: 5%; }
      @media screen and (min-width: 900px) {
        .united .united__text .united__learn-button {
          padding: 3% 4%; } }
    .united .united__text .united__homegame {
      font-size: .8rem;
      color: #000;
      border-right: 2px solid #817246;
      padding-right: 20px;
      text-transform: uppercase;
      margin-bottom: 1vh; }
    .united .united__text .united__nextgame {
      font-size: 2rem;
      color: #817246;
      font-weight: bold;
      margin-bottom: 2vh;
      text-transform: uppercase; }
    .united .united__text .united__gamedate {
      color: #817246;
      font-size: .8rem;
      font-weight: 100;
      margin-bottom: 2.5vh; }
    .united .united__text .united__gameday-button {
      background: #000;
      color: #FEFEFE;
      padding: 5%;
      border: none;
      border-radius: 0;
      text-transform: uppercase; }
      @media screen and (min-width: 900px) {
        .united .united__text .united__gameday-button {
          padding: 3% 4%; } }
  .united .hectorvillalba {
    background-image: url(../img/united-player-3.png);
    background-repeat: no-repeat;
    width: 70%;
    height: 500px;
    background-size: contain;
    background-position: left;
    top: 0;
    left: -10%;
    z-index: 10;
    position: absolute; }
    @media screen and (min-width: 500px) {
      .united .hectorvillalba {
        left: -5%; } }
    @media screen and (min-width: 900px) {
      .united .hectorvillalba {
        left: 0%; } }

.headline-united {
  display: flex;
  flex-direction: column;
  right: 5%;
  margin-top: -130px; }
  .headline-united span {
    background: #817246;
    padding: 4%;
    text-align: right; }
  .headline-united .united-atlanta-span {
    color: #001622; }
  .headline-united .united-span {
    font-size: 2.5rem;
    color: #D5D5D5; }

.stadium__teams {
  display: none;
  position: relative; }
  @media screen and (min-width: 900px) {
    .stadium__teams {
      margin: 0 auto;
      margin-top: 10%;
      display: flex;
      min-height: 400px;
      height: 100vh;
      max-height: 600px; }
      .stadium__teams .teams__background {
        position: absolute;
        z-index: 10;
        background-image: url(../../assets/img/hourglass.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto; } }
  .stadium__teams .united-desktop {
    display: none; }
    @media screen and (min-width: 900px) {
      .stadium__teams .united-desktop {
        position: relative;
        z-index: 11;
        margin-top: 200px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 50%; } }
    .stadium__teams .united-desktop .united__text {
      width: 45%;
      margin-right: 5%;
      z-index: 10;
      text-align: right; }
      .stadium__teams .united-desktop .united__text p {
        line-height: 1.5;
        font-weight: 100;
        margin-bottom: 2.5vh; }
      .stadium__teams .united-desktop .united__text .united__learn-button {
        background: #817246;
        color: #FEFEFE;
        font-weight: 100;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        margin-bottom: 5vh;
        padding: 5%; }
        @media screen and (min-width: 900px) {
          .stadium__teams .united-desktop .united__text .united__learn-button {
            padding: 3% 4%; } }
      .stadium__teams .united-desktop .united__text .united__homegame {
        font-size: .8rem;
        color: #000;
        border-right: 2px solid #817246;
        padding-right: 20px;
        text-transform: uppercase;
        margin-bottom: 1vh; }
      .stadium__teams .united-desktop .united__text .united__nextgame {
        font-size: 2rem;
        color: #817246;
        font-weight: bold;
        margin-bottom: 2vh;
        text-transform: uppercase; }
      .stadium__teams .united-desktop .united__text .united__gamedate {
        color: #817246;
        font-size: .8rem;
        font-weight: 100;
        margin-bottom: 2.5vh; }
      .stadium__teams .united-desktop .united__text .united__gameday-button {
        background: #000;
        color: #FEFEFE;
        padding: 5%;
        border: none;
        border-radius: 0;
        text-transform: uppercase; }
        @media screen and (min-width: 900px) {
          .stadium__teams .united-desktop .united__text .united__gameday-button {
            padding: 3% 4%; } }
    .stadium__teams .united-desktop .hectorvillalba {
      background-image: url(../img/united-player-3.png);
      background-repeat: no-repeat;
      width: 70%;
      height: 500px;
      background-size: contain;
      background-position: left;
      top: 0;
      left: -10%;
      z-index: 10;
      position: absolute; }
      @media screen and (min-width: 500px) {
        .stadium__teams .united-desktop .hectorvillalba {
          left: -5%; } }
      @media screen and (min-width: 900px) {
        .stadium__teams .united-desktop .hectorvillalba {
          left: 0%; } }
  .stadium__teams .headline-united {
    display: flex;
    flex-direction: column;
    right: 5%;
    margin-top: -300px; }
    .stadium__teams .headline-united span {
      background: #817246;
      padding: 4%;
      text-align: right; }
    .stadium__teams .headline-united .united-atlanta-span {
      color: #001622; }
    .stadium__teams .headline-united .united-span {
      font-size: 2.5rem;
      color: #D5D5D5; }

.events {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15%; }

.headline-events {
  top: 2%;
  left: 3%; }
  .headline-events span {
    background: #A61931;
    padding: 3% 4%; }

.event__articles {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 900px) {
    .event__articles {
      flex-direction: row;
      flex-wrap: wrap; } }
  .event__articles .article {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 900px) {
      .event__articles .article {
        width: 50%; } }
    .event__articles .article .event__article {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 80%;
      height: 200px;
      position: relative;
      margin: 10%;
      margin-top: 30px;
      padding: 20% 20px;
      border: 2px solid #580614; }
    .event__articles .article .event__article1 {
      background-image: url(../img/stadiumwithfalcon.jpg); }
    .event__articles .article .event__article2 {
      background-image: url(../img/KennyChesney.jpg); }
    .event__articles .article .event__article3 {
      background-image: url(../img/stadiumfront.jpg); }
    .event__articles .article .event__article4 {
      background-image: url(../img/GraveDigger.jpg); }
    .event__articles .article .golden-div {
      width: 82%;
      position: relative;
      z-index: 7;
      background: #817246;
      color: #D5D5D5;
      margin-top: -12%;
      margin-left: 9%;
      padding: 2% 3%; }
      .event__articles .article .golden-div h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px; }
      .event__articles .article .golden-div p {
        font-size: .8rem; }
      .event__articles .article .golden-div:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: #817246;
        transform: skewY(2deg);
        transform-origin: 100%;
        z-index: -1; }

footer {
  background: #001622;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #FEFEFE;
  margin-top: 15%;
  padding: 15% 10%;
  position: relative; }
  footer:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    right: 0;
    background: #001622;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: -1;
    border-top: 3px solid #580614; }
  @media screen and (min-width: 630px) {
    footer {
      padding: 5% 10%; } }
  footer .footer__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 630px) {
      footer .footer__text {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: flex-wrap; } }
    footer .footer__text a {
      text-decoration: none;
      font-size: .8rem;
      color: #FEFEFE; }
    footer .footer__text .mbs-logo__footer {
      background-image: url(../../assets/img/mbs-logo.svg);
      background-repeat: no-repeat;
      width: 40%;
      height: 120px; }
      @media screen and (min-width: 630px) {
        footer .footer__text .mbs-logo__footer {
          width: 20%; } }
    footer .footer__text .sitemap,
    footer .footer__text .teams,
    footer .footer__text .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      letter-spacing: 1px;
      line-height: 1.5; }
      @media screen and (min-width: 630px) {
        footer .footer__text .sitemap,
        footer .footer__text .teams,
        footer .footer__text .social-media {
          width: 25%; } }
      footer .footer__text .sitemap li,
      footer .footer__text .teams li,
      footer .footer__text .social-media li {
        width: 100%;
        text-align: center; }
      footer .footer__text .sitemap h3,
      footer .footer__text .teams h3,
      footer .footer__text .social-media h3 {
        z-index: 5;
        margin-bottom: 1.5rem;
        font-weight: bold; }
      footer .footer__text .sitemap span,
      footer .footer__text .teams span,
      footer .footer__text .social-media span {
        margin-right: 2%; }
  footer .copyright {
    font-size: .6rem; }

* {
  box-sizing: border-box; }

body {
  background: #003950;
  font-family: 'Korolev Light'; }

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEFEFE; }
  .inside h2 {
    font-size: 2em;
    margin-bottom: 1rem; }
  .inside span {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .inside video {
    width: 100%; }

.bigM {
  background-image: url(../../assets/img/BigM.png);
  background-repeat: no-repeat;
  width: 200%;
  padding-bottom: 500px;
  height: 0;
  position: absolute;
  margin-top: 5%;
  left: -60%; }

.halfM {
  background-image: url(../../assets/img/m_half_blue.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -70%;
  margin-top: 7%; }

.headline {
  font-size: 1.5625rem;
  color: #D5D5D5;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  transform: rotate(-5deg);
  z-index: 5; }

.teams-headline {
  font-size: 1.4375rem;
  color: #580614;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  z-index: 10;
  font-weight: bold; }

.explore-video-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 6;
  transform: rotate(0deg);
  font-size: 1.3rem; }
  .explore-video-button span {
    background: #A61931;
    padding: 3%; }
  @media screen and (min-width: 900px) {
    .explore-video-button {
      right: 2%; } }

.background__styles {
  width: 100%;
  height: 100vh;
  position: relative; }
  .background__styles .letterM1 {
    position: absolute;
    background-image: url(../../assets/img/m_whole_black.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-top: 10px solid #001622;
    border-bottom: 10px solid #001622; }

#background {
  position: absolute;
  top: 800px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #background figure {
    width: 100vw;
    border-width: 5.333333333vh;
    border-style: solid;
    background-size: auto 100%; }
    #background figure .dark-blue {
      background-color: #001622;
      border-color: #001622; }
      #background figure .dark-blue.vertical {
        background-position: center right -7.530120482vw;
        background-image: url(../../assets/img/m_whole_black.svg); }
      #background figure .dark-blue.horizontal {
        background-image: url(../../assets/img/m_half_black.svg); }
    #background figure .light-blue {
      background-color: #003950;
      border-color: #003950; }
      #background figure .light-blue.vertical {
        background-position: center left -7.530120482vw;
        background-image: url(../../assets/img/m_whole_blue.svg); }
      #background figure .light-blue.horizontal {
        background-image: url(../../assets/img/m_half_blue.svg); }
    #background figure .vertical {
      height: 89.90963855vh; }
    #background figure .horizontal {
      height: 48.45331325vh; }

/*# sourceMappingURL=main.css.map */
