/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

html, body {
  height: 100%;
  width: 100%; }

body {
  position: relative; }

button {
  appearance: none;
  border: none;
  background: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

@font-face {
  font-family: 'Korolev Light';
  font-style: normal;
  font-weight: normal;
  src: local("Korolev Light"), url("../../assets/font/KorolevLight.woff") format("woff"); }

body {
  background-color: #003950;
  font-family: 'Korolev Light';
  overflow-x: hidden; }

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.10938rem;
  position: relative; }
  @media screen and (min-width: 600px) {
    section {
      margin-bottom: 4.88281vh; } }

main {
  width: 100%; }

.section-header {
  transform: rotate(-2deg);
  font-size: 1.05rem;
  margin-left: 0.9375rem;
  margin-bottom: -0.9375rem;
  padding: 0.65rem 0.55rem 0.45rem 0.55rem;
  color: #D5D5D5;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  background: #A61931;
  box-shadow: 1px 1px 3px #001622;
  z-index: 2; }
  @media screen and (min-width: 600px) {
    .section-header {
      font-size: 1.4625rem;
      height: 2.5rem;
      padding: 0.7rem 0.55rem 0rem 0.65rem; } }

.section-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -0.9375rem;
  font-size: 0.75rem; }
  .section-footer span {
    color: #D5D5D5;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    background: #A61931;
    box-shadow: 1px 1px 3px #001622;
    z-index: 2;
    margin-right: 0.9375rem;
    padding: 0.65rem 0.55rem 0.5rem 0.55rem; }
    @media screen and (min-width: 600px) {
      .section-footer span {
        font-size: 1.4625rem;
        height: 2.5rem;
        padding: 0.7rem 0.55rem 0rem 0.65rem; } }

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.9375rem;
  padding-bottom: 0.46875rem;
  justify-content: space-between;
  background-color: #001622; }
  header:after {
    background-color: #001622;
    border-bottom: 3px solid #580614;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform-origin: 100%;
    z-index: 1; }
    @media screen and (min-width: 600px) {
      header:after {
        height: 100%; } }
  header .header__logo {
    background-image: url("../img/mbs-logo.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
    z-index: 3; }
  header .hamburger__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; }
    header .hamburger__button .hamburger-line {
      background: #A61931;
      width: 40px;
      height: 5px;
      margin: 2px 0; }
    header .hamburger__button p {
      color: #FEFEFE;
      text-transform: uppercase;
      font-size: 0.55rem;
      letter-spacing: 3px;
      margin-top: 5px; }
    @media screen and (min-width: 600px) {
      header .hamburger__button {
        display: none; } }
  header .header__nav {
    padding-left: 20px;
    padding-bottom: 10px;
    position: fixed;
    width: 250px;
    top: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #001622;
    transform: translateX(-100%);
    opacity: 0; }
    header .header__nav li {
      width: 100%;
      padding: 5px;
      margin-top: 20px;
      color: #FEFEFE;
      border-bottom: 1px solid #D5D5D5;
      text-transform: uppercase; }

.section-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; }
  .section-list .section-list__page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0;
    position: relative; }
    .section-list .section-list__page .medium-gold-bar {
      position: relative;
      display: flex;
      z-index: 2;
      height: 6.666666667vw;
      width: 80vw;
      background-color: #817246;
      position: relative; }
      .section-list .section-list__page .medium-gold-bar:after {
        transform: skewY(-2.3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #817246;
        transform-origin: 0;
        box-shadow: 0px -3px 2px -1px rgba(0, 22, 34, 0.4); }
        @media screen and (min-width: 600px) {
          .section-list .section-list__page .medium-gold-bar:after {
            height: 100%; } }
      @media screen and (min-width: 600px) {
        .section-list .section-list__page .medium-gold-bar {
          height: 3.255208333vw;
          width: 28.4vw; } }
    .section-list .section-list__page figure {
      border: 3px solid #580614;
      border-bottom: 0; }
    .section-list .section-list__page .large-gold-bar {
      width: 100%;
      height: 8vw;
      background-color: #817246; }
      @media screen and (min-width: 600px) {
        .section-list .section-list__page .large-gold-bar {
          height: 4vw; } }
      .section-list .section-list__page .large-gold-bar:after {
        background-color: #817246;
        box-shadow: 0px -3px 2px -1px rgba(0, 22, 34, 0.4);
        transform: skewY(2.3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1; }
        @media screen and (min-width: 600px) {
          .section-list .section-list__page .large-gold-bar:after {
            height: 100%; } }

.section-list {
  overflow: hidden; }
  .section-list.section-list--hero .section-list__page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    color: #D5D5D5; }
    @media screen and (min-width: 600px) {
      .section-list.section-list--hero .section-list__page {
        align-items: flex-start; } }
    .section-list.section-list--hero .section-list__page .section-list__img {
      width: 100%;
      background-image: url("../img/slideshow/falcons.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 340px;
      border: none; }
      @media screen and (min-width: 500px) {
        .section-list.section-list--hero .section-list__page .section-list__img {
          height: 400px; } }
      @media screen and (min-width: 600px) {
        .section-list.section-list--hero .section-list__page .section-list__img {
          border-right: none;
          border-left: none; } }
    .section-list.section-list--hero .section-list__page .hero__text {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #001622;
      padding: 0.9375rem;
      border-bottom: 3px solid #580614;
      z-index: 1; }
      .section-list.section-list--hero .section-list__page .hero__text:before {
        transform: skewY(2.3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-top: 3px solid #580614;
        z-index: -1;
        background-color: #001622; }
        @media screen and (min-width: 600px) {
          .section-list.section-list--hero .section-list__page .hero__text:before {
            height: 100%; } }
        @media screen and (min-width: 600px) {
          .section-list.section-list--hero .section-list__page .hero__text:before {
            display: none; } }
      .section-list.section-list--hero .section-list__page .hero__text h1 {
        font-size: 1.35rem;
        margin-bottom: 0.23438rem;
        font-weight: 800; }
      .section-list.section-list--hero .section-list__page .hero__text p {
        font-weight: 100;
        font-size: 0.9rem; }
      .section-list.section-list--hero .section-list__page .hero__text .hero__links {
        text-transform: uppercase;
        display: flex;
        margin-top: 0.9375rem;
        justify-content: space-around;
        letter-spacing: 0.0rem;
        font-size: 1.05rem;
        font-weight: 800; }
        .section-list.section-list--hero .section-list__page .hero__text .hero__links li {
          padding-bottom: 2px;
          border-bottom: 3px solid #A61931; }
      @media screen and (min-width: 375px) {
        .section-list.section-list--hero .section-list__page .hero__text {
          padding: 1.40625rem; }
          .section-list.section-list--hero .section-list__page .hero__text h1 {
            font-size: 1.65rem; }
          .section-list.section-list--hero .section-list__page .hero__text .hero__links {
            font-size: 1.35rem; } }
      @media screen and (min-width: 400px) {
        .section-list.section-list--hero .section-list__page .hero__text {
          padding: 1.17188rem 2.10938rem; } }
      @media screen and (min-width: 500px) {
        .section-list.section-list--hero .section-list__page .hero__text {
          padding: 1.17188rem 2.57812rem; }
          .section-list.section-list--hero .section-list__page .hero__text h1 {
            font-size: 1.9rem; }
          .section-list.section-list--hero .section-list__page .hero__text p {
            font-size: 1.05rem; } }
      @media screen and (min-width: 600px) {
        .section-list.section-list--hero .section-list__page .hero__text {
          padding: 0;
          border: none; }
          .section-list.section-list--hero .section-list__page .hero__text h1, .section-list.section-list--hero .section-list__page .hero__text p, .section-list.section-list--hero .section-list__page .hero__text .hero__links {
            padding-left: 2.10938rem;
            z-index: 3; }
          .section-list.section-list--hero .section-list__page .hero__text h1 {
            font-size: 1.35rem;
            margin-bottom: 0.23438rem;
            background-color: #001622;
            width: 100%;
            z-index: 3;
            padding-top: 0.9375rem; }
          .section-list.section-list--hero .section-list__page .hero__text .hero__links {
            margin-top: 15px;
            justify-content: flex-start;
            font-size: 0.9rem;
            padding-bottom: 0.9375rem;
            border-bottom: 3px solid #580614; }
            .section-list.section-list--hero .section-list__page .hero__text .hero__links li {
              margin-right: 2.10938rem; }
          .section-list.section-list--hero .section-list__page .hero__text .hero-tablet-angle {
            display: block;
            position: absolute;
            width: 100%;
            height: 150%;
            background-color: #001622;
            z-index: 2;
            border-top: 3px solid #580614;
            top: -3px; }
            .section-list.section-list--hero .section-list__page .hero__text .hero-tablet-angle:before {
              transform: skewY(-23deg);
              transform-origin: 100%;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              z-index: -1;
              background-color: #001622;
              z-index: -2;
              transform-origin: 0;
              margin-left: 53%;
              border-top: 3px solid #580614; } }
      @media screen and (min-width: 600px) and (min-width: 600px) {
        .section-list.section-list--hero .section-list__page .hero__text .hero-tablet-angle:before {
          height: 100%; } }

.section-list.section-list--news {
  align-items: center; }
  .section-list.section-list--news li figure {
    height: 70.04533333vw;
    width: 77.73333333vw;
    background-image: url("../img/stadiumfront.jpg");
    background-size: cover; }
    .section-list.section-list--news li figure h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.9375rem;
      text-align: center;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      color: #D5D5D5;
      text-transform: capitalize;
      font-size: 1.35rem;
      text-shadow: 0 0 5px black;
      line-height: 2rem;
      font-weight: 500; }
      @media screen and (min-width: 350px) {
        .section-list.section-list--news li figure h2 {
          font-size: 1.65rem; } }
    @media screen and (min-width: 600px) {
      .section-list.section-list--news li figure {
        width: 27.99479167vw;
        height: 47.52604167vw; } }

.explore {
  display: flex;
  position: relative; }
  .explore video {
    width: 100%;
    height: 56.5%;
    position: relative;
    margin-bottom: -0.23438rem; }
    @media screen and (min-width: 600px) {
      .explore video {
        height: 56.25vw; } }
  .explore .large-gold-bar {
    width: 100%;
    height: 8vw;
    background-color: #817246;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 600px) {
      .explore .large-gold-bar {
        height: 4vw; } }
    .explore .large-gold-bar:after {
      background-color: #817246;
      box-shadow: 0px -3px 2px -1px rgba(0, 22, 34, 0.4);
      transform: skewY(2.3deg);
      transform-origin: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1; }
      @media screen and (min-width: 600px) {
        .explore .large-gold-bar:after {
          height: 100%; } }
  .explore .section-footer {
    padding: 0; }

.teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  position: relative;
  color: #001622; }
  .teams .teams-section {
    background-color: #D5D5D5;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vw;
    background-size: auto 95%;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding: 0 0.9375rem; }
    @media screen and (min-width: 600px) {
      .teams .teams-section {
        background-size: auto 61vw; } }
    .teams .teams-section h2 {
      display: flex;
      text-transform: uppercase;
      color: #D5D5D5;
      padding: 0.46875rem;
      padding-top: 0.9375rem;
      width: 100%;
      margin-top: -3.16406rem;
      position: absolute; }
      .teams .teams-section h2 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.9rem 0.6rem 0.5rem 0.65rem;
        min-width: 8.5rem;
        box-shadow: 1px 1px 3px #001622;
        color: #001622;
        letter-spacing: 0.1rem;
        font-size: 0.9rem; }
        .teams .teams-section h2 div .teams-header {
          font-size: 1.35rem;
          font-weight: 800;
          color: #D5D5D5;
          letter-spacing: 0.2rem;
          margin-top: 0.23438rem; }
        @media screen and (min-width: 450px) {
          .teams .teams-section h2 div {
            font-size: 1.05rem;
            min-width: 9.7rem; }
            .teams .teams-section h2 div .teams-header {
              font-size: 1.65rem; } }
    .teams .teams-section .teams-text {
      width: 52%;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 3.16406rem; }
      .teams .teams-section .teams-text li {
        margin-bottom: 2.10938rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .teams .teams-section .teams-text li p {
          line-height: 1.55rem; }
        .teams .teams-section .teams-text li button {
          text-transform: uppercase;
          color: #D5D5D5;
          padding: 0.7rem;
          padding-top: 0.9rem;
          padding-bottom: 0.5rem;
          font-size: 1.2rem;
          border-radius: 5px;
          box-shadow: 1px 1px 3px #001622; }
        .teams .teams-section .teams-text li div {
          display: flex;
          flex-direction: column;
          margin-top: 0.46875rem; }
          .teams .teams-section .teams-text li div p {
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 800;
            padding: 0 0.1rem; }
        .teams .teams-section .teams-text li h3 {
          display: flex;
          flex-direction: column; }
          .teams .teams-section .teams-text li h3 span, .teams .teams-section .teams-text li h3 date {
            text-transform: uppercase; }
          .teams .teams-section .teams-text li h3 span {
            font-size: 0.9rem;
            margin-bottom: 0.23438rem; }
            .teams .teams-section .teams-text li h3 span:first-child {
              padding: 0.1rem;
              padding-top: 0.25rem;
              padding-bottom: 0;
              margin-bottom: 0.46875rem;
              height: 1.05rem; }
            .teams .teams-section .teams-text li h3 span:nth-child(2) {
              font-size: 2.925rem;
              font-weight: 800;
              margin-bottom: 0; }
          .teams .teams-section .teams-text li h3 date {
            font-size: 0.75rem; }
        .teams .teams-section .teams-text li:last-child button {
          background-color: #001622;
          color: #D5D5D5;
          font-size: 1.05rem;
          margin-top: 0.9375rem;
          box-shadow: 1px 1px 3px #001622; }
      @media screen and (min-width: 450px) {
        .teams .teams-section .teams-text {
          font-size: 1.05rem; }
          .teams .teams-section .teams-text li button {
            font-size: 1.35rem; }
          .teams .teams-section .teams-text li div {
            margin-top: 0.9375rem; }
            .teams .teams-section .teams-text li div p {
              font-size: 1.35rem; }
          .teams .teams-section .teams-text li:last-child button {
            font-size: 1.2rem; } }
    .teams .teams-section:before {
      background-color: #D5D5D5; }
    .teams .teams-section.teams-section__falcons {
      margin-bottom: 5rem;
      background-image: url("../img/hero_img_1.png");
      background-position: 95% center;
      flex-direction: row; }
      .teams .teams-section.teams-section__falcons h2 {
        flex-direction: row; }
        .teams .teams-section.teams-section__falcons h2 div {
          background-color: #A61931; }
      .teams .teams-section.teams-section__falcons .teams-text li {
        align-items: flex-start; }
        .teams .teams-section.teams-section__falcons .teams-text li div {
          align-items: flex-start; }
          .teams .teams-section.teams-section__falcons .teams-text li div button {
            background-color: #A61931; }
        .teams .teams-section.teams-section__falcons .teams-text li h3 {
          align-items: flex-start; }
          .teams .teams-section.teams-section__falcons .teams-text li h3 span:first-child {
            border-left: 3px solid #A61931;
            padding-left: 0.9375rem; }
          .teams .teams-section.teams-section__falcons .teams-text li h3 span:nth-child(2) {
            color: #A61931; }
          .teams .teams-section.teams-section__falcons .teams-text li h3 date {
            color: #A61931; }
      .teams .teams-section.teams-section__falcons:before {
        transform: skewY(-3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        transform-origin: 0; }
        @media screen and (min-width: 600px) {
          .teams .teams-section.teams-section__falcons:before {
            height: 100%; } }
    .teams .teams-section.teams-section__united {
      background-image: url("../img/hero_img_2.png");
      background-position: 5% center;
      flex-direction: row-reverse; }
      .teams .teams-section.teams-section__united h2 {
        flex-direction: row-reverse; }
        .teams .teams-section.teams-section__united h2 div {
          background-color: #817246;
          align-items: flex-end; }
      .teams .teams-section.teams-section__united .teams-text li {
        align-items: flex-end;
        text-align: right; }
        .teams .teams-section.teams-section__united .teams-text li div {
          align-items: flex-end; }
          .teams .teams-section.teams-section__united .teams-text li div button {
            background-color: #817246; }
        .teams .teams-section.teams-section__united .teams-text li h3 span:first-child {
          border-right: 3px solid #817246;
          padding-right: 0.9375rem; }
        .teams .teams-section.teams-section__united .teams-text li h3 span:nth-child(2) {
          color: #817246; }
        .teams .teams-section.teams-section__united .teams-text li h3 date {
          color: #817246; }
      .teams .teams-section.teams-section__united:before {
        transform: skewY(3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1; }
        @media screen and (min-width: 600px) {
          .teams .teams-section.teams-section__united:before {
            height: 100%; } }
    @media screen and (min-width: 450px) {
      .teams .teams-section {
        min-height: 120vw;
        padding: 0 1.51875rem; } }
  @media screen and (min-width: 600px) {
    .teams {
      flex-direction: row-reverse;
      background-image: url("../img/hourglass.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 700px;
      justify-content: space-between; }
      .teams .teams-section {
        width: 50%;
        min-height: 0;
        height: 100%;
        background-color: transparent;
        padding: 0 0.9375rem; }
        .teams .teams-section:before {
          display: none; }
        .teams .teams-section .teams-text {
          justify-content: center;
          height: 100%;
          padding: 0;
          padding-bottom: 3.16406rem; }
          .teams .teams-section .teams-text li {
            margin-bottom: 150px; }
            .teams .teams-section .teams-text li .main-copy {
              min-height: 12rem;
              min-width: 12rem;
              max-width: 16.9rem; }
        .teams .teams-section.teams-section__falcons {
          background-size: auto 30rem;
          background-position: 118% 80%; }
        .teams .teams-section.teams-section__united {
          background-size: auto 28.44rem;
          background-position: -9% 80%; } }
  @media screen and (min-width: 600px) and (min-width: 760px) {
    .teams {
      height: 800px; } }

.section-list.section-list--events {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.23438rem; }
  .section-list.section-list--events li {
    position: relative; }
    .section-list.section-list--events li figure {
      height: 58vw;
      width: 47vw;
      background-size: auto 110%;
      background-position: top center;
      color: #FEFEFE;
      text-shadow: 0 0 2px #001622;
      text-transform: uppercase;
      font-weight: 800; }
      @media screen and (min-width: 600px) {
        .section-list.section-list--events li figure {
          height: 31.51041667vw;
          width: 31.51041667vw; } }
    .section-list.section-list--events li .small-gold-bar {
      margin-bottom: 0.9375rem;
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      color: #D5D5D5;
      text-transform: capitalize; }
      .section-list.section-list--events li .small-gold-bar h2, .section-list.section-list--events li .small-gold-bar date {
        width: 100%;
        height: 100%;
        background-color: #817246;
        padding: 0.46875rem; }
      .section-list.section-list--events li .small-gold-bar date {
        font-size: 0.75rem;
        padding-top: 0; }
      .section-list.section-list--events li .small-gold-bar h2 {
        font-size: 1.05rem; }
    .section-list.section-list--events li:nth-child(even) .small-gold-bar {
      text-align: right;
      background-color: #817246;
      width: 48vw;
      position: relative; }
      @media screen and (min-width: 600px) {
        .section-list.section-list--events li:nth-child(even) .small-gold-bar {
          width: 32vw; } }
      .section-list.section-list--events li:nth-child(even) .small-gold-bar:after {
        transform: skewY(-3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #817246;
        box-shadow: 0px -3px 5px 0px rgba(0, 22, 34, 0.2);
        z-index: -1;
        height: 90%;
        width: 48vw; }
        @media screen and (min-width: 600px) {
          .section-list.section-list--events li:nth-child(even) .small-gold-bar:after {
            height: 100%; } }
      .section-list.section-list--events li:nth-child(even) .small-gold-bar:after {
        transform-origin: 0; }
    .section-list.section-list--events li:nth-child(odd) .small-gold-bar {
      background-color: #817246;
      width: 48vw;
      position: relative; }
      @media screen and (min-width: 600px) {
        .section-list.section-list--events li:nth-child(odd) .small-gold-bar {
          width: 32vw; } }
      .section-list.section-list--events li:nth-child(odd) .small-gold-bar:after {
        transform: skewY(3deg);
        transform-origin: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #817246;
        box-shadow: 0px -3px 5px 0px rgba(0, 22, 34, 0.2);
        z-index: -1;
        height: 90%;
        width: 48vw; }
        @media screen and (min-width: 600px) {
          .section-list.section-list--events li:nth-child(odd) .small-gold-bar:after {
            height: 100%; } }
    .section-list.section-list--events li:first-child figure {
      background-image: url("../img/stadiumwithfalcon.jpg"); }
    .section-list.section-list--events li:nth-child(2) figure {
      background-image: url("../img/KennyChesney.jpg"); }
    .section-list.section-list--events li:nth-child(3) figure {
      background-image: url("../img/stadiumfront.jpg"); }
    .section-list.section-list--events li:last-child figure {
      background-image: url("../img/GraveDigger.jpg"); }

main {
  position: relative;
  padding-bottom: 3.16406rem; }

/*# sourceMappingURL=main.css.map */
